
body{
    background-color: darkslategray;
}

.login-container {
    width: 350px;
    background-color: #fff;
    margin: 150px 50px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
    margin-bottom: 20px;
}
.login-container input {
    width: 100%;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}